<form id="players" action="/admin/new/" method="post">
  <label for="name">NAME</label>
  <input type="text" name="new_player_name">
  <label for="birthday">BIRTHDAY</label>
  <input type="text" name="new_player_birthday">
  <label for="favorite_color">FAVORITE COLOR</label>
  <input type="text" name="new_player_favorite_color">
  <button name="submit">SUBMIT</button>
</form>
