<html>
  <head>
    <title> team </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <%= yield %>

  <hr>
  <a href="/players/">Players</a> |
  <a href="/admin/">admin</a> |
  <a href="/teams/">team</a> |


  </body>
</html>
